URxvt.perl-ext-common:   font-size

URxvt*scrollBar: false

! Define fonts
URxvt*font: xft:DejaVu Sans Mono:size=12
URxvt*boldFont:xft:DejaVu Sans Mono:style=Bold:size=12
URxvt*italicFont:xft:DejaVu Sans Mono:style=Oblique:size=12
URxvt*boldItalicFont:xft:DejaVu Sans Mono:style=Bold Oblique:size=12

! colored man pages
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

URxvt.insecure:     true
URxvt*colorUL: #c5f779
URxvt*underlineColor: #c5f779

!! Colorscheme: Solarized
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

! *background:            S_base3
! *foreground:            S_base00
! *cursorColor:           S_base01
! *pointerColorBackground:S_base1
! *pointerColorForeground:S_base01
! 
! !! black dark/light
! *color0:                S_base02
! *color8:                S_base03
! 
! !! red dark/light
! *color1:                S_red
! *color9:                S_orange
! 
! !! green dark/light
! *color2:                S_green
! *color10:               S_base01
! 
! !! yellow dark/light
! *color3:                S_yellow
! *color11:               S_base00
! 
! !! blue dark/light
! *color4:                S_blue
! *color12:               S_base0
! 
! !! magenta dark/light
! *color5:                S_magenta
! *color13:               S_violet
! 
! !! cyan dark/light
! *color6:                S_cyan
! *color14:               S_base1
! 
! !! white dark/light
! *color7:                S_base2
! *color15:               S_base3

!! Jellybeans
URxvt*color0: #393939
URxvt*color1: #ca674a
URxvt*color2: #96a967
URxvt*color3: #d3a94a
URxvt*color4: #5778c1
URxvt*color5: #9c35ac
URxvt*color6: #6eb5f3
URxvt*color7: #a9a9a9
URxvt*color8: #535551
URxvt*color9: #ea2828
URxvt*color10: #87dd32
URxvt*color11: #f7e44d
URxvt*color12: #6f9bca
URxvt*color13: #a97ca4
URxvt*color14: #32dddd
URxvt*color15: #e9e9e7
URxvt*background: #242424
URxvt*foreground: #999999
