# Force cp, mv to check before overwriting.
alias cp='cp -i'
alias mv='mv -i'

# Always want colord ls
alias ls='ls --color=auto'

# Cargo
alias cb='cargo build'
alias cr='cargo run'
alias ct='cargo test'
alias c='cargo'

alias m='make'
alias mt='make test'
alias mc='make clean'

# alias vim='nvim'

# Swap keybaord layouts
alias aoeu='if [ $DISPLAY ]; then setxkbmap us; else loadkeys us; fi; xmodmap ~/.Xmodmap'
alias asdf='if [ $DISPLAY ]; then setxkbmap dvorak; else loadkeys dvp; fi; xmodmap ~/.Xmodmap'

# Quick mute
alias mute='amixer set Master mute'

# In case I ever do this emacs thing again
# alias emacs='emacs -nw' # no-window option
# alias vime='emacs -nw'  # vim-emacs-evilmode
# alias vi='vim'          # stop accidentally typing vi

# WQHS radio show
alias radio='mplayer http://wqhs6.vpul.upenn.edu:8000/listen'

# vim vundle install
alias vundle='vim +BundleInstall +qall'

alias g='git'
alias gits='git status'
alias gita='git add'
alias gitc='git commit'

alias org='emacs ~/log/todo.org'

alias venv='source venv/bin/activate'

alias ym='yoga monitor'
