[user]
    email = terrynsun@gmail.com
    name = Terry Sun

[core]
    autocrlf = input
    whitespace=fix,trailing-space,cr-at-eol
    excludesfile = /home/sun/.gitignore_global

[color]
    ui = always

[url "git@github.com:"]
    insteadOf = gh:
[url "git@bitbucket.org:"]
    insteadOf = bb:

[branch]
    autosetuprebase = remote

[push]
    default = upstream

[merge] tool = meld

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    unstage = reset HEAD --
    st = !git --no-pager log -1 --oneline && git status -sb
    update = !git add -u && git commit -am 'update'
    updateamend = !git add -u && git commit --amend --no-edit
