# Force cp, mv to check before overwriting.
alias cp='cp -i'
alias mv='mv -i'

# Always use colors
alias ls='ls --color=auto'
alias grep='grep --color=always --exclude-dir={.git} -I'
alias rg='rg --color=always'

### Make
alias m='make -j 4'
alias mt='make test'
alias mc='make clean'

### Editors
alias vimplug='vim +PlugInstall +qall'
alias vi='/usr/bin/vim'
#alias vim='nvim'

alias lua='rlwrap luajit'
